/* Styling the container to ensure proper spacing and layout */
.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

/* Styling the main section */
main {
    text-align: center;
}

/* Styling the heading */
h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}

/* Styling the paragraph */
p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
}

/* Styling the link container */
.links-container {
    display: block; /* Change to block to stack items vertically */
    margin-top: 30px;
    text-align: center;
}

/* Styling individual links */
.links-container a {
    display: block; /* Ensure each link takes up a full line */
    text-decoration: none;
    color: #050101;
    background-color: #BCCCDC;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px; /* Add space between the links */
    transition: background-color 0.3s ease;
    text-align: left;
}

/* Styling for links when hovered */
.links-container a:hover {
    background-color: #9AA6B2;
}

